/* Basic Styling for All Webpages */
body {
    background-color: #e6b6a3;
    color: #360e02;
    font-family: 'DynaPuff', Arial, sans-serif;
    font-size: 20px;
    width: 1000px;
    margin: 2% auto;
}

.title {
    background-color: #8f5c4d;
    color: #edd6ce;
    padding: 10px;
    padding-left: 30px;
    border: 5px solid #360e02;
    border-radius: 50px;
    margin: 10px;
}


/* LINK STYLING */

/* generic link styling */
a.button {
    background-color: #d4977f;
    border: 5px solid #360e02;
    border-radius: 10px;
    padding: 15px;
}

/* AllRecipes links at bottom of page */
a:link, a:visited {
    color: #7d2004;
}

/* Homepage Selection of Recipes */
#recipes {
    text-align: center;
}

#recipes > li {
    display: block;
    width: 200px;
    padding: 20px;
    margin: 10px;
}


/* Images */
.heading-image {
    margin: 50px;
    border-radius: 100px;
}

.direction-image {
    height: auto;
    width: 400px;
    border-radius: 50px;
}

img.ingredients {
    height: auto;
    width: 500px;
}

.finished {
    height: auto;
    width: 500px;
    margin: 20px;
}

/* List Styling */
li {
    margin: 10px;
}

.direction-list {
    margin-top: 30px;
}